<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="top" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% block top %}{% endblock %}
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>

        <div class="col-lg-2">
    {% block body01 %}
    {% endblock %}
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
    </div>
    {% block body02 %}
    {% endblock %}
    <div>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {% block body03 %}
        {% endblock %}
    </div>
        <div class="col-lg-1"></div>
    </div>
    {% block body04 %}
    {% endblock %}
    {% block body05 %}
    {% endblock %}
    {% block body06 %}
    {% endblock %}
    {% block body07 %}
    {% endblock %}
    {% block body08 %}
    {% endblock %}
    {% block body09 %}
    {% endblock %}
</div>
</body>
</html>