

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ card.title }}</h3>
        <div class="card-tools">
            <!-- This will cause the card to maximize when clicked -->
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <!-- This will cause the card to collapse when clicked -->
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <!-- This will cause the card to be removed when clicked -->
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="toolbar">
            <button id="buttonof{{ table.id }}" class="btn btn-secondary">getSelections</button>
            <button id="addof{{ table.id }}" class="btn btn-secondary" data-toggle="modal" data-target="#modal01">添加</button>
            <button id="updateof{{ table.id }}" class="btn btn-secondary" data-toggle="modal" data-target="#modal01">修改</button>
            <button id="delof{{ table.id }}" class="btn btn-secondary" data-toggle="modal" data-target="#modal01">删除</button>
        </div>
        <table
                id="{{ table.id }}"
                data-page-list="[10,20,50]"
                data-toggle="table"
                data-show-refresh="true"
                data-click-to-select="true"
                data-show-toggle="true"
                data-show-columns="true"
                data-url="{{ table.url }}"
                data-search="true"
                data-pagination="true">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id">ID</th>
                <th data-field="name" data-sortable="true">用户名</th>
                <th data-field="password" data-sortable="true">密码</th>
            </tr>
            </thead>
        </table>
        <script>
            var ${{ table.id }} = $('#{{ table.id }}');
            var $buttonof{{ table.id }} = $('#buttonof{{ table.id }}');
            var $addof{{ table.id }} = $('#addof{{ table.id }}');
            var $updateof{{ table.id }} = $('#updateof{{ table.id }}');
            var $delof{{ table.id }} = $('#delof{{ table.id }}');

            $(function() {

                $buttonof{{ table.id }}.click(function () {
                    alert(JSON.stringify(${{ table.id }}.bootstrapTable('getSelections')));
                    });
                $addof{{ table.id }}.click(function () {
                    $.ajax({
                        type: "get",
                        url: "/modalform",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(${{ table.id }}.bootstrapTable('getSelections')),
                        success: function (result,status,xhr) {
                            $('.modal-body').html(result);
                            $('form').attr('url',{{ table.url }});
                            $('form').attr('onsubmit','post()');
                        }
                    });
                    });
                $updateof{{ table.id }}.click(function () {

                    $.ajax({
                        type: "post",
                        url: "/modalform",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(${{ table.id }}.bootstrapTable('getSelections')),
                        success: function (result,status,xhr) {
                            $('.modal-body').html(result);
                            $('form').attr('url',{{ table.url }});
                            $('form').attr('onsubmit','put()');
                        }
                    });

                    });
                $delof{{ table.id }}.click(function () {

                    $.ajax({
                        type: "post",
                        url: "/modalform",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(${{ table.id }}.bootstrapTable('getSelections')),
                        success: function (result,status,xhr) {
                            $('.modal-body').html(result);
                            $('form').attr('url',{{ table.url }});
                            $('form').attr('onsubmit','put()');
                        }
                    });

                    ${{ table.id }}.bootstrapTable('remove',{
                        field: 'name',
                        values: $.map(${{ table.id }}.bootstrapTable('getSelections'), function (row) {
                            return row.name
                        })
                        });
                    });
                })

        </script>
    </div>
    <!-- /.card-body -->
    <div class="card-footer ">

    </div>
    <!-- /.card-footer -->

    {% if overlay %}
        <div class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    {% endif %}
</div>
