{% macro header() %}

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                {% for row in varargs %}
                    {{ row() }}
                {% endfor %}
            </div>
        </div>
{% endmacro %}

{% macro section() %}
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            {% for row in varargs %}
                {{ row() }}
            {% endfor %}
        </div><!-- /.container-fluid -->
    </section>
{% endmacro %}